<h2>Project</h2> 

<hr/>
<div *ngIf="craftBeer">
  <div>
    <label><b>Name: </b></label> {{craftBeer.project_name}}
  </div>
  <div>
    <label><b>Company Name: </b></label> {{craftBeer.company_name}}
  </div>
  <div>
    <label><b>Opened issues count: </b></label> {{craftBeer.open_issues_count}}
  </div>  
  <div>
    <label><b>Avg Opened Issues: </b></label> {{craftBeer.avg_opened_issues}}
  </div>
  <div>
    <label><b>#Visitors: </b></label> {{craftBeer.user_visit}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Project List</button><br>