<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Project List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Company Name</th>
            <th>Full Name</th>
            <th>Issues Opened</th>
            <th>AVG Issues opened</th>
            <th># Of Visitors</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let craftBeer of craftBeers | async">
            <td>{{craftBeer.project_name}}</td>
            <td>{{craftBeer.company_name}}</td>
            <td>{{craftBeer.full_name}}</td>
            <td>{{craftBeer.open_issues_count}}</td>
            <td>{{craftBeer.avg_opened_issues}}</td>
            <td>{{craftBeer.user_visit}}</td>
            <td>
                <button (click)="craftBeerDetails(craftBeer.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>